.page {
  background: #1e1e1e;
  color: #e6e6e6;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 24px;
  background: #252525;
  border-radius: 16px;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #747bff;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.left {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  max-width: 65%;
}

.identity {
  max-width: 520px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.identity h2 {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
}

.bio {
  margin: 8px 0;
  color: #b5b5b5;
}

.muted {
  font-size: 14px;
  color: #888;
}

.votes {
  display: flex;
  gap: 8px;

  button {
    background: #1f1f1f;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    padding: 6px 10px;
    color: #fff;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
    }
  }
}
.primaryButton {
  background: linear-gradient(135deg, #747bff, #5f65f2);
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.secondaryButton {
  background: #2a2a2a;
  color: #fff;
  border: 1px solid #3a3a3a;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
}

.becomeCreator {
  margin-top: 24px;
  background: #252525;
  padding: 20px;
  border-radius: 14px;
  max-width: 360px;

  h3 {
    margin: 0 0 12px;
  }

  input {
    width: 120px;
    font-size: 18px;
    padding: 8px;
    background: #1f1f1f;
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    color: #fff;
    margin: 8px 0 12px;
  }
}
.editCard {
  background: #252525;
  padding: 24px;
  border-radius: 16px;
  max-width: 700px;
  margin: auto;
}

.editGrid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 70px;
  margin-top: 16px;
}

.editLeft label,
.editRight label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
}

.editRight {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.avatarPreview {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3a3a3a;
}

.creatorUpgrade {
  margin: 0px auto 0;
  padding: 32px;
  background: linear-gradient(135deg, #2a2a2a, #1f1f1f);
  border-radius: 20px;
  max-width: 520px;
  text-align: center;
  border: 1px solid #343434;

  h3 {
    margin-bottom: 12px;
    font-size: 24px;
  }

  input {
    margin: 12px auto 16px;
  }
}
